html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: "Lucida Console", Courier, monospace;
  margin: 0px;
  background-color: #FCEA4A;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
  background-color: #FFF9C1;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 30px;
  border-color: black;
  border-width: 1px 1px 3px;
  border-radius: 20px;
  background-color: black;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  margin-left: 115px;
}

.reg-btn {
  display: inline-block;
  padding: 10px 30px;
  border-color: black;
  border-width: 1px 1px 3px;
  border-radius: 20px;
  background-color: black;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  margin-left: 130px;
  margin-bottom: 20px;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  display: inline-block;
  border-color: black;
  padding: 10px 26px;
  border-width: 1px 1px 3px;
  margin-left: 15px;
  border-radius: 20px;
  background-color: #FFF9C1;
  font: inherit;
  color: black;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 0px;
  background-color: #FCEA4A;
  border-radius: 3px;
  border-top: 10px black;
}

.reg-formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  /* padding: 25px; */
  margin: 0 auto 0px;
  background-color: #FCEA4A;
  border-radius: 3px;
  border-top: 10px black;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.username {
  padding: 15px 20px;
  margin-left: 60px;
  margin-bottom: 20px;
  background-color: #FFF9C1;
}

.password {
  padding: 15px 20px;
  background-color: #FFF9C1;
  margin-left: 60px;
  margin-bottom: 40px;
}

.phoneNum {
  padding: 10px 20px;
  background-color: #FFF9C1;
  margin-left: 85px;
  margin-bottom: 20px;
}

.reg-username {
  padding: 10px 20px;
  margin-left: 85px;
  margin-bottom: 20px;
  background-color: #FFF9C1;
}

.reg-password {
  padding: 10px 20px;
  background-color: #FFF9C1;
  margin-left: 85px;
  margin-bottom: 20px;
}

.register-text {
  text-align: center;
  margin-top: 0px;
}

/* -------------------------------------------------------------------
Main Page
--------------------------------------------------------------------*/

.welcome-banner {
  text-align: center;
}

.main-btns {
  text-align: center;
  display: flex;  
  justify-content: center;  
  align-items: center;  
  margin: 30px auto;
  background-color: #FCEA4A;
  padding: 15px 50px;
  font-family: "Lucida Console", Courier, monospace;
}


.logout-btn {
  display: inline-block;
  padding: 10px 30px;
  border-color: black;
  border-width: 1px 1px 3px;
  border-radius: 20px;
  background-color: black;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  margin-left: 105px;
}

/* -------------------------------------------------------------------
Trial List Page
--------------------------------------------------------------------*/

table, tr {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px;
  text-align: center;
  margin: auto;
}

td {
  padding: 10px;
}

.back-btn {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FCEA4A;
  font-family: "Lucida Console", Courier, monospace;
}

/* -------------------------------------------------------------------
New Trial Page
--------------------------------------------------------------------*/

.back-btn-newtrial {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FFF9C1;
  font-family: "Lucida Console", Courier, monospace;
}