.about-title {
    text-align: center;
    font-weight: 100;
}

.about-table {
    border: 0px solid transparent;
    margin: auto;
    text-align: center;
}

.about-td {
    padding: 20px;
}

.about-back-btn {
    margin-top: 20px;
    margin-left: 65px;
}