/* -------------------------------------------------------------------
Trial List Page
--------------------------------------------------------------------*/
.trial-title {
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  table, tr {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th {
    font-size: large;
  }
  
  td {
    padding: 10px;
  }
  
  .list-back-btn {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #fff9C1;
    font-family: "Lucida Console", Courier, monospace;
  }
  
  .edit-btn {
    background-color: #fcea4a;
    color: #000000;
    padding: 5px 30px;
    border-radius: 20px;
    border: 0;
    font-weight: 500;
  }
  
  .del-btn {
    border: 0;
    background-color: #c60000;
    color: #f8f8f8cb;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: 500;
  }

  .list-container {
    padding: 30px;
    padding-bottom: 40px;
    background-color: #FFF9C1;
  }
  